:root
{
    --menu-color:#fff4c9;
    --border-color:#ffc459;
    --link-color:#000000;
    --submenu-color:#ffea7c;
    --text-color:#000000;
}

a:link,a:visited,a:hover,a:active
{
    color:var(--link-color);
}

body
{
    color:var(--text-color);
    background-color:var(--menu-color);

    font-size:12px;
    
    margin:5px;
}

main
{
    display:inline-block;
    vertical-align:top;
    
    margin-left:7px;

    text-align:center;
}

.sidebar,.box,.subbox
{
    text-align:center;

    display:inline-block;
    vertical-align:top;

    box-sizing:border-box;
}

.box,.subbox
{
    padding:5px;
    margin:5px;
    
    background-blend-mode:multiply;

    border-style:solid;
    border-width:1px;
    border-color:var(--border-color);
}

.box
{
    background-image:url("images/argyle.png");
    background-color:var(--menu-color);
}

.subbox
{
    background-image:url("images/lines.png");
    background-color:var(--submenu-color);
}